:root{
  --primary:#d81e5b;
  --secondary:#8c38ff;
  --dark:#131a26;
  --light:rgb(212, 203, 203);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans",sans_serif;
}

body{
  background-color: var(--light);
}

.calculator{
  width: 100%;
  max-width: 600em;
  max-height: 800vh;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(31, 26, 26, 0.2);
}

.App{
   display:inline-block;
   min-height:60px;
   max-width: 600px;
   align-items: center;
   justify-content:center;
   padding: 16px;
   

}

.display {
   padding: 16px;
   text-align: right;
   background-color: var(--dark);
   color: var(--light);
   font-size: 24px ;
   font-weight: 300;
   overflow: scroll;
}

.display span {
  font-size: 14px;
  color: #888;
}

.circle{
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.btn1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
}

.btn1:hover {
  background-color: #4CAF50;
  color: white;
  font-size: 26px;
}

.btn2 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
}

.btn2:hover {
  background-color: #4CAF50;
  color: white;
  font-size: 26px;
}

.btn3 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
}

.btn3:hover {
  background-color: #4CAF50;
  color: white;
  font-size: 26px;
}

.btn4 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
}

.btn4:hover {
  background-color: #4CAF50;
  color: white;
  font-size: 26px;
}

.btn5 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  font-size: 16px;
}

.btn5:hover {
  background-color: #4CAF50;
  color: white;
  font-size: 26px;
}


button:hover{
  opacity: 0.5;
  padding: 2px .2px;
  font-size: large;
  color: #d81e5b;
  

  
}

.operators{
  display: flex;
}

.operators button{
  flex:1 1 33.333%;
  background-color: var(--primary);
  font-weight: 800;
  font-size: larger;
  padding: 1em;
  margin: .2em .5em;
  border-radius: 20px;
  z-index: 3;
  text-shadow: 2px 2px 8px #2a2c2af1;
  box-shadow: 0px 2px 64px rgb(49, 36, 36);
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.333%;
  max-width: 60%;
  background-color: whitesmoke;
  font-size: 25px;
  border-radius: 50px;
  z-index: 3;
  text-shadow: 2px 2px 8px #2a2c2af1;
  box-shadow: 0px 2px 64px rgb(49, 36, 36);
  margin: .1em .1em;

}

.title{
  
   min-height:127px;
   align-items: center;
   justify-content:center;
   box-sizing: border-box;
   border-radius: 4px solid red;
   padding: 0px;
   font-size: 64px;
   margin-top: 200px;
   margin-bottom: 0px;
   max-width: 800px;
   
  }
  .a{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #FF0000;
  }
  .b{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #f1de89;
  }
  .c{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #8fec7c;
  }
  .d{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #8f8dee;
  }
  .e{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #97d1db;
  }
  .f{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #f398eb;
  }
  .g{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #726b44;
  }
  .h{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #e98b34c4;
  }
  .i{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #ddc762ce;
  }
  .j{
    color:rgb(213, 247, 213);
    text-shadow: 2px 2px 8px #54e797da;
  }

  .circle {
    background: #fcfcfc;
    border: none;
    border-radius: 100px;
    font-size: 3rem;
    z-index: 3;
    text-shadow: 2px 2px 8px #2a2c2af1;
    box-shadow: 0px 2px 64px rgb(49, 36, 36);
    font-weight: 800; 
    
    outline: none;
  }

