@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 10px;
  margin: 1px;
  box-sizing: border-box;
}




.board {
  border: 1rem solid #fcfcf7;
  background: #fcfcf7;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  border-radius: 16px;
  box-shadow: 0px 2px 64px rgba(31, 26, 26, 0.2);
  max-width: 500px;
  box-sizing: border-box;

}

.squares {
  background: #fcfcfc;
  border: none;
  border-radius: 100px;
  font-size: 3rem;
  z-index: 3;
  text-shadow: 2px 2px 8px #2a2c2af1;
  box-shadow: 0px 2px 64px rgb(49, 36, 36);
  font-weight: 800; 
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

.X {
  color: rgb(26, 29, 243);
}
.O {
  color: rgb(194, 32, 226);
}

.info-wrapper {
  display: inline-block;
  justify-content: space-between;
  box-sizing: border-box;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
  list-style-position: inside;
  box-sizing: border-box;
}

.info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem 5rem;
  box-sizing: border-box;
}

.m {

  margin: 5rem 30rem;
  display:grid;
   min-height:700px;
   align-items: center;
   justify-content:center;
   padding: 16px;
   box-sizing: border-box;

  
}

@media screen and (max-width: 600px) {
  .m, .board,.info-wrapper,.squares,.X {
    width: 90%;

  }
}